section.about#about
	.about__wrapper
		.about__photo-wrapper
				img.about__photo1(src="img/about-photo.png")
		.about__content
			h1.about__heading About us
			p.about__text Aliquam sed posuere urna, et gravida nisl. Praesent<br> interdum nisl libero, pretium 		egestas purus eleifend<br> vitae. Mauris suscipit vel lectus at luctus.
			button.about__button Read more