section.clients
	.clients__wrapper
		.clients__heading Our clients say
		.clients__left 
			.clients__icon
			.clients__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
			.clients__tile-wrapper
				.clients__photo
				.clients__name Pavliv Yaroslav Web designer
		.clients__right
			.clients__icon
			.clients__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
			.clients__tile-wrapper
				.clients__photo--1
				.clients__name John Scott The Fringe
		.clients__form-wrapper
			.clients__form-double
			.clients__form-heading CONTACTS
			.clients__form-text Sign up for our newsletter to receive updates
			form.clients__form
				input.clients__naming(placeholder="Name" type="text" required)
				input.clients__phone(placeholder="Phone" type="tel" required)
				input.clients__mail(placeholder="Email" type="email" required)
				button.clients__submit Send
