footer.footer
	.footer__wrapper
		.footer__copyright All rights reserved 2015
		.footer__social
			a.footer__icon-wrapper(href="#")
				.footer__icon
			a.footer__icon-wrapper--facebook(href="#")
				.footer__icon--facebook
			a.footer__icon-wrapper--vk(href="#")
				.footer__icon--vk
		.footer__phone 1 234 243 123