section.form#form
	.form__wrapper(data-stellar-ratio="2")
		h1.form__heading Do you wanna go?
		p.form__text Aliquam sed posuere urna, et gravida nisl. Praesent<br>interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
		form.form__main
			input(type="text" placeholder="Your name:" required)
			input(type="tel" placeholder="Your phone:" required)
			button.form__button(type="submit") Order now
			.form__date-text <i class="form__icon"></i> * Your data will not be transferred