section.gallery
	.gallery__wrapper
		.gallery__title Gallery
		.gallery__photo-wrap
			.gallery__block-1
				img(src="/img/gallery-photo1.jpg", alt="")
				img(src="/img/gallery-photo4.jpg", alt="")
			.gallery__block-2
				img(src="/img/gallery-photo2.jpg", alt="")
				img(src="/img/gallery-photo5.jpg", alt="")
			.gallery__block-3
				img(src="/img/gallery-photo3.jpg", alt="")
				img(src="/img/gallery-photo6.jpg", alt="")