section.journal#journal
	.journal__wrapper
		h2.journal__heading Our journal
		.journal__tile-wrapper
			.journal__tile-img
					i.journal__tile-icon
			.journal__tile-info
				.journal__tile-sub LOVE
				.journal__tile-heading Lorem ipsum dolor sit amet,<br> consectetur adipisicing<br> elit, sed do
				.journal__tile-text You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
				.journal__tile-pagination 01
			.journal__tile-img--1
					i.journal__tile-icon--1
			.journal__tile-info
				.journal__tile-sub tree
				.journal__tile-heading Lorem ipsum dolor sit<br> amet, consectetur<br> adipisicing elit,
				.journal__tile-text The way to a successful brand is hard,<br> but always very interesting. Share the full story of your project – from the very first day until now.
				.journal__tile-pagination 02
			.journal__tile-img--2
					i.journal__tile-icon--2
			.journal__tile-info
				.journal__tile-sub WATER
				.journal__tile-heading LITTLE PIECES OF<br> OUR PROUDNESS
				.journal__tile-text What do you do better than your<br> competitors? What are you proud of?<br> What details and advantages of your<br> product you want people to know about?
				.journal__tile-pagination 03