section.travel#travel
	.travel__wrapper
		h2.travel__heading Travel with us
		.travel__tiles-wrapper
			.travel__tile-addwrap
				.travel__tile--carpathian
					.travel__stars--four
					.travel__title Carpathian
					.travel__text Lorem ipsum dolor si amet, consectetur adip
					.travel__price
						.travel__price-left 3150$
						.travel__price-right $793
			.travel__tile-addwrap
				.travel__tile--alps
					.travel__stars--five
					.travel__title Alps
					.travel__text Lorem ipsum dolor si amet, consectetur adip
					.travel__price
						.travel__price-left 3150$
						.travel__price-right $1893
			.travel__tile-addwrap
				.travel__tile--pyrenees
					.travel__stars--five
					.travel__title Pyrenees
					.travel__text Lorem ipsum dolor si amet, consectetur adip
					.travel__price
						.travel__price-left 3150$
						.travel__price-right $2593
			.travel__tile-addwrap
				.travel__tile--rocky
					.travel__stars--five
					.travel__title Rocky
					.travel__text Lorem ipsum dolor si amet, consectetur adip
					.travel__price
						.travel__price-left 3150$
						.travel__price-right $2123
			.travel__tile-addwrap
				.travel__tile--kavkaz
					.travel__stars--three
					.travel__title Kavkaz
					.travel__text Lorem ipsum dolor si amet, consectetur adip
					.travel__price
						.travel__price-left 3150$
						.travel__price-right $593