section.work#work
	.work__wrapper
		.work__title HOW WE WORK
		.work__tile
			.work__pin 1
			.work__badge-wrap
				.work__badge
					.work__icon
			.work__heading Lorem ipsum dolor sit 
			.work__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
		.work__tile
			.work__pin 2
			.work__badge-wrap
				.work__badge
					.work__icon--2
			.work__heading Lorem ipsum dolor sit 
			.work__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
		.work__tile
			.work__pin 3
			.work__badge-wrap
				.work__badge
					.work__icon--3
			.work__heading Lorem ipsum dolor sit 
			.work__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
		.work__tile
			.work__pin 4
			.work__badge-wrap
				.work__badge
					.work__icon--4
			.work__heading Lorem ipsum dolor sit 
			.work__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt