.icon-icon-slack {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -133px;
  width: 80px;
  height: 24px;
}
.icon-icon-social-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -86px;
  width: 14px;
  height: 23px;
}
.icon-icon-spotify {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -109px;
  width: 80px;
  height: 24px;
}
.icon-icon-nike {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -157px;
  width: 70px;
  height: 26px;
}
.icon-icon-google {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -183px;
  width: 80px;
  height: 28px;
}

.icon-icon-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -27px;
  width: 80px;
  height: 18px;
}
.icon-icon-adobe {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -211px;
  width: 38px;
  height: 34px;
}

.icon-icon-twitter {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -45px;
  width: 22px;
  height: 19px;
}
.icon-icon-vk {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 17px;
  height: 11px;
}
.icon-icon-social-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -86px;
  width: 14px;
  height: 23px;
}
.icon-icon-book {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -283px;
  width: 38px;
  height: 38px;
}
.icon-icon-checklist {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -359px;
  width: 38px;
  height: 38px;
}
.icon-icon-profile {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -435px;
  width: 40px;
  height: 40px;
}
.icon-icon-file {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -475px;
  width: 32px;
  height: 40px;
}

.icon-icon-five-stars {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -321px;
  width: 118px;
  height: 38px;
}
.icon-icon-four-stars {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -245px;
  width: 98px;
  height: 38px;
}

.icon-icon-three-stars {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -397px;
  width: 78px;
  height: 38px;
}