html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/RobotoLight_0.eot");
  src: url("../fonts/RobotoLight_0.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight_0.woff") format("woff"), url("../fonts/RobotoLight_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* SASS variables are information about icon's compiled state, stored under its original file name
 *
 * .icon-home
 *   width: $icon-home-width
 *
 * The large array-like variables contain all information about a single icon
 * $icon-home: x y offset_x offset_y width height total_width total_height image_path
 *
 * At the bottom of this section, we provide information about the spritesheet itself
 * $spritesheet: width height image $spritesheet-sprites
 */
/* The provided mixins are intended to be used with the array-like variables
 *
 * .icon-home
 *   @include sprite-width($icon-home)
 *
 * .icon-email
 *   @include sprite($icon-email)
 */
/* The `sprites` mixin generates identical output to the CSS template
 *   but can be overridden inside of SASS
 *
 * @include sprites($spritesheet-sprites)
 */
.icon-icon-slack, .partners__icon--slack {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -133px;
  width: 80px;
  height: 24px; }

.icon-icon-social-facebook, .footer__icon--social-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -86px;
  width: 14px;
  height: 23px; }

.icon-icon-spotify, .partners__icon--spotify {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -109px;
  width: 80px;
  height: 24px; }

.icon-icon-nike, .partners__icon--nike {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -157px;
  width: 70px;
  height: 26px; }

.icon-icon-google, .partners__icon--google {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -183px;
  width: 80px;
  height: 28px; }

.icon-icon-facebook, .partners__icon--facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -27px;
  width: 80px;
  height: 18px; }

.icon-icon-adobe, .partners__icon--adobe {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -211px;
  width: 38px;
  height: 34px; }

.icon-icon-twitter, .footer__icon--twitter {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -45px;
  width: 22px;
  height: 19px; }

.icon-icon-vk, .footer__icon--vk {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 17px;
  height: 11px; }

.icon-icon-social-facebook, .footer__icon--social-facebook {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -86px;
  width: 14px;
  height: 23px; }

.icon-icon-book, .work__icon--book {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -283px;
  width: 38px;
  height: 38px; }

.icon-icon-checklist, .work__icon--checklist {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -359px;
  width: 38px;
  height: 38px; }

.icon-icon-profile, .work__icon--profile {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -435px;
  width: 40px;
  height: 40px; }

.icon-icon-file, .work__icon--file {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -475px;
  width: 32px;
  height: 40px; }

.icon-icon-five-stars, .travel__stars--five {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -321px;
  width: 118px;
  height: 38px; }

.icon-icon-four-stars, .travel__stars--four {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -245px;
  width: 98px;
  height: 38px; }

.icon-icon-three-stars, .travel__stars--three {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -397px;
  width: 78px;
  height: 38px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: #36aeea; }

input:focus::-webkit-input-placeholder {
  color: transparent;
  outline: none; }

input:focus::-moz-placeholder {
  color: transparent;
  outline: none; }

input:focus:-moz-placeholder {
  color: transparent;
  outline: none; }

input:focus:-ms-input-placeholder {
  color: transparent;
  outline: none; }

textarea:focus {
  outline: none; }

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

img {
  height: auto;
  max-width: 100%;
  width: auto\9; }

ul {
  list-style: none; }

.hidden {
  display: none; }

.header__wrapper, .about__wrapper, .journal__wrapper, .form__wrapper, .work__wrapper, .travel__wrapper, .gallery__wrapper, .partners__wrapper, .clients__wrapper, .footer__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loaderInner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

#header__dropdown-menu {
  fill: #36aeea;
  margin-top: 25px;
  display: none; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-position: top center;
  min-height: 700px;
  width: 100%; }
  .header__top-overlay {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    min-height: 90px;
    position: relative;
    vertical-align: middle; }
  .header__logo {
    float: left;
    margin-right: 60px;
    margin-top: 12px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
  .header__nav {
    float: left; }
  .header li {
    display: inline-block;
    margin-right: 25px; }
    .header li:last-child {
      margin-right: 0; }
  .header ul a {
    display: block;
    text-decoration: none;
    color: #9daeb6;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
    .header ul a:hover {
      border-bottom: 2px solid #36aeea; }
  .header__call {
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
  .header__call-us {
    width: 153px;
    height: 46px;
    border: 4px solid #36aeea;
    border-radius: 4px;
    background: transparent;
    color: #36aeea;
    font-family: "Raleway-Bold";
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase; }
  .header__jumbotron {
    position: absolute;
    top: 300px;
    padding-left: 60px; }
  .header__jumbotron-text {
    margin: 30px 0 30px 0;
    color: #9daeb6;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 29px; }
  .header__jumbotron-button, .form__button, .clients__submit {
    display: inline-block;
    width: 253px;
    height: 60px;
    background-color: #36aeea;
    border-radius: 4px;
    box-shadow: 0 0 35px rgba(3, 3, 3, 0.06);
    color: white;
    font-family: "Raleway-Bold";
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; }

.about {
  background-color: #f6f4f4;
  position: relative; }
  .about__wrapper {
    min-height: 670px;
    background-color: #f6f4f4;
    background-image: url(../img/about-bg.png);
    background-repeat: no-repeat;
    background-position: 144px 65px;
    position: relative;
    overflow: hidden;
    *zoom: 1; }
    .about__wrapper:before, .about__wrapper:after {
      content: " ";
      display: table; }
    .about__wrapper:after {
      clear: both; }
  .about__content {
    position: absolute;
    top: 250px; }
  .about__photo-wrapper {
    display: inline-block;
    float: right;
    width: 70%;
    position: relative; }
  .about__photo1 {
    transition: 0.5s;
    position: absolute;
    top: -30px;
    right: -124px;
    z-index: 0; }
    .about__photo1:hover {
      -webkit-filter: saturate(0.6) contrast(1.2) brightness(1);
              filter: saturate(0.6) contrast(1.2) brightness(1); }
  .about__heading {
    color: black;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px; }
  .about__text {
    color: #9daeb6;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    margin: 30px 0 30px 0; }
  .about__button {
    width: 130px;
    height: 40px;
    background-color: #36aeea;
    border-radius: 4px;
    color: white;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    text-transform: uppercase; }

@media only screen and (max-width: 800px) {
  .journal__wrapper {
    padding: 0; } }
.journal__heading {
  color: black;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0; }
.journal__tile-wrapper {
  box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.71);
  margin: 80px auto;
  *zoom: 1;
  background-color: white; }
  .journal__tile-wrapper:before, .journal__tile-wrapper:after {
    content: " ";
    display: table; }
  .journal__tile-wrapper:after {
    clear: both; }
.journal__tile-img, .journal__tile-img--1, .journal__tile-img--2 {
  background-image: url(../img/tile-mountain.jpg);
  background-size: cover;
  width: 380px;
  height: 380px;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  transition: 0.5s; }
  .journal__tile-img:hover, .journal__tile-img--1:hover, .journal__tile-img--2:hover {
    -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
            filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .journal__tile-img:before, .journal__tile-img--1:before, .journal__tile-img--2:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 15px 12.5px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    right: 0;
    top: 50px; }
.journal__tile-icon {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -784px;
  width: 81px;
  height: 81px; }
.journal__tile-info {
  width: 380px;
  height: 380px;
  float: left;
  text-align: center;
  padding: 50px 28px 0 28px; }
.journal__tile-sub {
  color: #36aeea;
  font-family: "OpenSans-Bold";
  font-size: 11px;
  text-transform: uppercase; }
.journal__tile-heading {
  color: #212121;
  font-family: "OpenSans-Bold";
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 55px; }
.journal__tile-text {
  color: #9daeb6;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  margin: 30px 0 40px 0; }
.journal__tile-pagination {
  color: #212121;
  font-family: "Times New Roman";
  font-size: 14px;
  font-style: italic; }
.journal__tile-icon--1 {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -710px;
  width: 59px;
  height: 74px; }
.journal__tile-img--1 {
  background-image: url(../img/tile-lake.jpg); }
  .journal__tile-img--1:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12.5px 15px 12.5px;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 366px;
    left: 50px; }
.journal__tile-icon--2 {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -645px;
  width: 65px;
  height: 65px; }
.journal__tile-img--2 {
  background-image: url(../img/tile-forest.jpg); }
  .journal__tile-img--2:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50px;
    left: 0; }

.form {
  min-height: 800px;
  background-image: url(../img/form-bg.jpg);
  padding-top: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .form__wrapper {
    position: relative; }
  .form__heading {
    color: #2C2E37;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    text-transform: uppercase; }
  .form__text {
    color: #9daeb6;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    margin: 25px 0 30px 0; }
  .form__icon {
    background-image: url(../img/spritesheet.png);
    background-position: 0px -11px;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: baseline; }
  .form__date-text {
    color: #36aeea;
    font-family: "OpenSans-Regular";
    font-size: 14px; }
  .form__button {
    line-height: 45px;
    width: 190px;
    height: 45px; }
  .form input {
    width: 250px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 14px; }

.work {
  min-height: 720px; }
  .work__wrapper {
    text-align: center;
    padding-top: 115px; }
  .work__title {
    color: #2C2E37;
    font-family: "OpenSans-Bold";
    font-size: 30px;
    text-transform: uppercase; }
  .work__tile {
    width: 22.5%;
    margin: 0 1%;
    display: inline-block; }
  .work__pin {
    width: 50px;
    height: 50px;
    color: #36aeea;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #36aeea;
    line-height: 45px;
    font-family: "Roboto-Black";
    font-size: 16px;
    text-align: center;
    margin: 60px auto 0 auto; }
  .work__badge-wrap {
    width: 179px;
    height: 179px;
    background-color: #F0F3F6;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px auto 30px auto; }
  .work__badge {
    width: 130px;
    height: 130px;
    background-image: url(../img/spritesheet.png);
    background-position: 0px -865px;
    width: 123px;
    height: 134px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .work__heading {
    color: #2C2E37;
    font-family: "Roboto-Black";
    font-size: 18px; }
  .work__text {
    color: #949494;
    font-family: "Roboto-Light";
    font-size: 16px; }

.travel {
  background-image: url(../img/travel-bg.jpg);
  background-repeat: no-repeat;
  min-height: 1060px;
  background-position: bottom center; }
  .travel__wrapper {
    *zoom: 1; }
    .travel__wrapper:before, .travel__wrapper:after {
      content: " ";
      display: table; }
    .travel__wrapper:after {
      clear: both; }
  .travel__tile-addwrap {
    width: 17.5%;
    margin: 0 1.1%;
    display: inline-block; }
    @media only screen and (max-width: 560px) {
      .travel__tile-addwrap {
        width: 200px !important;
        display: block;
        margin: 20px auto !important; } }
  .travel__heading {
    text-align: center;
    color: #2C2E37;
    font-family: "OpenSans-Bold";
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 100px; }
  .travel__tiles-wrapper {
    width: 100%;
    min-height: 382px; }
    .travel__tiles-wrapper:nth-child(6) div {
      margin-right: 0; }
  .travel__tile--carpathian {
    max-width: 200px;
    min-height: 382px;
    background-repeat: no-repeat;
    padding: 0 22px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    transition: 0.5s;
    margin-bottom: 35px;
    margin: 0 auto;
    background-image: url(../img/tile-carpathian.jpg); }
    .travel__tile--carpathian:hover {
      -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
              filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .travel__tile--alps {
    max-width: 200px;
    min-height: 382px;
    background-repeat: no-repeat;
    padding: 0 22px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    transition: 0.5s;
    margin-bottom: 35px;
    margin: 0 auto;
    background-image: url(../img/tile-alps.jpg); }
    .travel__tile--alps:hover {
      -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
              filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .travel__tile--pyrenees {
    max-width: 200px;
    min-height: 382px;
    background-repeat: no-repeat;
    padding: 0 22px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    transition: 0.5s;
    margin-bottom: 35px;
    margin: 0 auto;
    background-image: url(../img/tile-pyrenees.jpg); }
    .travel__tile--pyrenees:hover {
      -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
              filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .travel__tile--rocky {
    max-width: 200px;
    min-height: 382px;
    background-repeat: no-repeat;
    padding: 0 22px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    transition: 0.5s;
    margin-bottom: 35px;
    margin: 0 auto;
    background-image: url(../img/tile-rocky.jpg); }
    .travel__tile--rocky:hover {
      -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
              filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .travel__tile--kavkaz {
    max-width: 200px;
    min-height: 382px;
    background-repeat: no-repeat;
    padding: 0 22px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    transition: 0.5s;
    margin-bottom: 35px;
    margin: 0 auto;
    background-image: url(../img/tile-kavkaz.jpg); }
    .travel__tile--kavkaz:hover {
      -webkit-filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg);
              filter: sepia(0.1) saturate(2) contrast(1.5) brightness(0.9) hue-rotate(-15deg); }
  .travel__stars--four {
    margin-bottom: 130px; }
  .travel__stars--five {
    margin-bottom: 130px; }
  .travel__stars--three {
    margin-bottom: 130px; }
  .travel__title {
    font-size: 28px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    line-height: 28px; }
  .travel__text {
    margin: 30px 0 28px 0;
    font-size: 16px;
    color: #FFF;
    font-family: "OpenSans-Regular"; }
  .travel__price-left {
    font-size: 18px;
    color: #FFF;
    font-family: "OpenSans-Regular";
    text-decoration: line-through;
    float: left;
    height: 60px;
    line-height: 60px; }
  .travel__price-right {
    font-family: "OpenSans-Bold";
    font-size: 26px;
    float: right;
    height: 60px;
    line-height: 60px; }

.gallery__wrapper {
  text-align: center;
  margin-bottom: 80px;
  *zoom: 1; }
  .gallery__wrapper:before, .gallery__wrapper:after {
    content: " ";
    display: table; }
  .gallery__wrapper:after {
    clear: both; }
.gallery__block--1 {
  width: 23%; }
.gallery__block--2 {
  width: 31%; }
.gallery__block--1 {
  float: left;
  margin-right: 2.56%; }
  .gallery__block--1 img {
    margin-bottom: 30px; }
.gallery__block--2 {
  float: left;
  margin-right: 2.56%; }
  .gallery__block--2 img {
    margin-bottom: 30px; }
.gallery__block--3 {
  float: left;
  margin-right: 2.56%; }
  .gallery__block--3 img {
    margin-bottom: 30px; }
.gallery__block--3 {
  width: 40%;
  margin-right: 0; }
.gallery__title, .clients__heading {
  color: #2C2E37;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 75px;
  margin-top: 75px; }
.gallery img {
  transition: 0.5s; }
  .gallery img:hover {
    -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
            filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg); }

.partners {
  background-color: #f8f9fa; }
  .partners__wrapper {
    min-height: 180px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .partners__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      display-justify-content: center;
      display-align-items: center; }
  .partners__icon--slack {
    transition: 0.5s; }
    .partners__icon--slack:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }
  .partners__icon--adobe {
    transition: 0.5s; }
    .partners__icon--adobe:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }
  .partners__icon--google {
    transition: 0.5s; }
    .partners__icon--google:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }
  .partners__icon--facebook {
    transition: 0.5s; }
    .partners__icon--facebook:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }
  .partners__icon--spotify {
    transition: 0.5s; }
    .partners__icon--spotify:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }
  .partners__icon--nike {
    transition: 0.5s; }
    .partners__icon--nike:hover {
      -webkit-filter: brightness(5%);
              filter: brightness(5%); }

.clients {
  min-height: 1280px;
  background-image: url(../img/clients-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat; }
  .clients__wrapper {
    *zoom: 1;
    position: relative; }
    .clients__wrapper:before, .clients__wrapper:after {
      content: " ";
      display: table; }
    .clients__wrapper:after {
      clear: both; }
  .clients__heading {
    text-align: center;
    margin-top: 115px; }
  .clients__left {
    max-width: 520px;
    float: left;
    position: relative; }
  .clients__text {
    color: #BCBCBC;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    margin-bottom: 30px;
    padding-top: 45px; }
  .clients__right {
    max-width: 520px;
    position: relative;
    float: right; }
  .clients__tile-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .clients__photo {
    background-image: url(../img/spritesheet.png);
    background-position: 0px -515px;
    width: 65px;
    height: 65px;
    margin-right: 20px; }
  .clients__photo--1 {
    background-image: url(../img/spritesheet.png);
    background-position: 0px -580px;
    width: 65px;
    height: 65px;
    margin-right: 20px; }
  .clients__name {
    color: #36aeea;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    font-weight: 300; }
  .clients__icon {
    background-image: url(../img/spritesheet.png);
    background-position: 0px -64px;
    width: 24px;
    height: 22px;
    position: absolute;
    top: 10px; }
  .clients__form-wrapper {
    margin: 400px auto 0 auto;
    max-width: 500px;
    padding: 45px 30px;
    background-image: url(../img/form-bg.png);
    border-radius: 8px;
    box-shadow: 0 5px 51px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 600px) {
      .clients__form-wrapper {
        margin-bottom: 50px; } }
  .clients__form-heading {
    text-align: center;
    font-family: "OpenSans-Bold";
    color: #36aeea;
    font-size: 36px; }
  .clients__form-text {
    font-family: "OpenSans-Regular";
    text-align: center;
    color: #383E4A;
    font-size: 16px;
    margin-bottom: 40px; }
  .clients input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 4px; }
  .clients__submit {
    width: 100%; }

.footer {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .footer__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px; }
    @media only screen and (max-width: 600px) {
      .footer__wrapper {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__copyright {
    color: #6a95a3;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    margin-bottom: 5px; }
  .footer__phone {
    color: #6a95a3;
    font-family: "Roboto-Black";
    font-size: 27px; }
  .footer__social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 128px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px; }
  .footer__icon-wrapper, .footer__icon-wrapper--facebook, .footer__icon-wrapper--vk {
    width: 39px;
    height: 39px;
    background-color: #29C5F6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 39px;
        -ms-flex-preferred-size: 39px;
            flex-basis: 39px; }
    .footer__icon-wrapper--facebook {
      background-color: #6788ce; }
    .footer__icon-wrapper--vk {
      background-color: #54769a; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .journal__tile-wrapper {
    display: block;
    margin: 80px auto;
    width: 760px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header ul.header__list {
    position: absolute;
    background-color: #36aeea;
    border-radius: 5px; }
    .header ul.header__list li {
      display: block;
      margin-right: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      padding: 0 40px;
      top: 0; }
      .header ul.header__list li:hover {
        background-color: #64c1ef; }
      .header ul.header__list li a {
        color: white;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        line-height: 25px;
        text-align: center;
        transition: 0.5s;
        border: none; }
        .header ul.header__list li a:hover {
          border: none; }
  .header__jumbotron {
    padding-left: 0; }
  .header__jumbotron-logo {
    display: block;
    margin: 0 auto; }

  .form {
    text-align: center; }
    .form input {
      display: block;
      margin: 15px auto; }
    .form button {
      display: block;
      margin: 15px auto;
      width: 250px; }
    .form__date-text {
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px; }

  .work__tile {
    width: 35%; }
  .work__wrapper {
    margin-bottom: 100px; }

  .travel__tile-addwrap {
    width: 30%;
    margin: 0 1%; }
    .travel__tile-addwrap:nth-child(4) {
      margin-left: 18%; }

  .clients__wrapper {
    min-height: 1500px; }
  .clients__right {
    float: none;
    display: block;
    margin: 0 auto; }
  .clients__left {
    float: none;
    display: block;
    margin: 0 auto; }
  .clients__form-wrapper {
    max-width: 440px;
    margin: 180px auto 80px auto; }

  .header__menu #header__dropdown-menu {
    display: inline-block; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .journal__tile-wrapper {
    width: 380px;
    margin: 0 auto 40px auto; }

  .work__tile {
    display: block;
    margin: 0 auto;
    width: 50%; }

  .travel__tile-addwrap {
    width: 40%;
    margin: 0 4%; }
    .travel__tile-addwrap:nth-child(4) {
      margin: 0 4%; }
    .travel__tile-addwrap:nth-child(5) {
      margin: 0 28%; }

  .gallery__block--1 {
    width: 40.21%;
    margin-right: 4.58%; }
  .gallery__block--2 {
    width: 55.19%;
    margin-right: 0; }
  .gallery__block--3 {
    width: 100%;
    margin: 0 auto; }
    .gallery__block--3 img {
      width: 47%;
      margin-right: 5%;
      display: inline-block;
      float: left; }
      .gallery__block--3 img:nth-child(2) {
        margin-right: 0; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__call {
    display: none; }

  .about__photo-wrapper {
    display: none; }

  .work__tile {
    width: 100%; }

  .gallery__block--1, .gallery__block--2, .gallery__block--3 {
    margin: 0;
    display: block;
    width: 100%;
    float: none; }
    .gallery__block--1 img, .gallery__block--2 img, .gallery__block--3 img {
      width: 100%;
      margin: 0; } }
/* Custom, iPhone Retina */
