section.gallery
	.gallery__wrapper
		.gallery__title Gallery
		.gallery__photo-wrap
			.image-wrap
				img(src="/img/gallery-photo1.jpg", alt="")
			.image-wrap
				img(src="/img/gallery-photo2.jpg", alt="")
			.image-wrap
				img(src="/img/gallery-photo3.jpg", alt="")
			.image-wrap
				img(src="/img/gallery-photo4.jpg", alt="")
			.image-wrap
				img(src="/img/gallery-photo5.jpg", alt="")
			.image-wrap
				img(src="/img/gallery-photo6.jpg", alt="")