header.header
	.header__top-overlay
		.header__wrapper
			.header__topline
				.header__logo
					img.header__logo-img(src="img/logo.png")
				nav.header__nav
					ul
						li
							a(href="#") Our Story
						li
							a(href="#") Services
						li
							a(href="#") Work
						li
							a(href="#") Journal
						li
							a(href="#") Contact
						li
							a(href="#") Work
						li
							a(href="#") Journal
				.header__call
					button.header__call-us Call us
	.header__wrapper
		.header__jumbotron
			img.header__jumbotron-logo(src="img/jumbotron-logo.png")
			p.header__jumbotron-text Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor incidid
			button.header__jumbotron-button Order now