doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="description" content="Mountains travelling")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="favicon.png")
		link(rel="stylesheet" href="lib/animate/animate.css")
		link(rel="stylesheet" href="css/style.css")
		title Travel with us to mountains!
	body
		<!--[if lt IE 9]>
		script(src="lib/html5shiv/es5-shim.min.js")
		script(src="lib/html5shiv/html5shiv.min.js")
		script(src="lib/html5shiv/html5shiv-printshiv.min.js")
		script(src="lib/respond/respond.min.js")
		<![endif]-->
		.loader
			.loaderInner
		include includes/header.jade
		include includes/about.jade
		include includes/journal.jade
		include includes/form.jade
		include includes/work.jade
		include includes/travel.jade
		include includes/gallery.jade
		include includes/partners.jade
		include includes/clients.jade
		include includes/footer.jade
		.hidden
		script(src="lib/jquery/jquery-1.11.3.min.js")
		script(src="lib/modernizr/modernizr.js")
		script(src="lib/stellar/jquery.stellar.min.js")
		script(src="lib/waypoints/waypoints.min.js")
		script(src="lib/magnificpopup/jquery.magnific-popup.min.js")
		script(src="js/common.js")