section.partners


	.partners__wrapper
		.partners__item
			.partners__icon--slack
		.partners__item 
			.partners__icon--adobe
		.partners__item
			.partners__icon--google
		.partners__item
			.partners__icon--facebook
		.partners__item
			.partners__icon--spotify
		.partners__item
			.partners__icon--nike
